@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.libertinus-serif-display-regular {
  font-family: "Libertinus Serif Display", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0px 160px 0px;
}

.post-img-div{margin: 60px 0px 60px 0px;}
.post-img{width: 100%; display: block;}
.post-img-caption{width: 100%; font-size:12px;text-align: center; margin: 20px 0px 0px 0px;}
@media(max-width: 600px){.post-img-div{width: 280px;}}

.post-title{font-size: 40px;font-family: "Libertinus Serif Display", system-ui;font-weight: 400;font-style: normal; font-weight: bold;}
@media(max-width: 600px){.post-title{font-size: 20px;}}
.post-updated{font-size: 12px; margin-top: 30px;}
.post-author{font-size: 12px; margin-bottom: 60px;}

h1{
    font-family: "Libertinus Serif Display", system-ui;font-weight: 400;font-style: normal;font-size: 25px; font-weight: bold;
    margin: 100px 0px 20px 0px;
}
h1, p{width: 60%;border: 1px solid;}
@media(max-width: 1000px){h1, p{width: 70%;}}
@media(max-width: 800px){h1, p{width: 90%;}}

.page{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 120px 0px 120px 0px;

}

.card-container{
    display: grid; 
    gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;

}
