@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat {font-family: "Montserrat", sans-serif;font-optical-sizing: auto;font-weight: 400;font-style: normal;}
.libertinus-serif-display-regular {font-family: "Libertinus Serif Display", system-ui;font-weight: 400;font-style: normal;font-size: 100px;}



*{padding: 0; margin: 0; font-family: "Montserrat", sans-serif; font-optical-sizing: auto; font-style: normal; display: block;}
script, title {display: none;}

page{width: 100%; display: flex; flex-direction: column; align-items: center;}


post-title{margin: 200px 0px 100px 0px; font-size: 50px;font-family: "Libertinus Serif Display", system-ui;font-weight: 400;font-style: normal; font-weight: bold;}

line{margin: 20px 0px 20px 0px; border-top: 1px solid; padding: 1px;}
heading{font-weight: bold; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid; border-top: 1px solid; padding: 10px 0px 10px 0px;}
heading:hover{cursor: pointer;}

info{}
book{color: white; font-weight: bold; background-color: red;}
budget{background-color: yellowgreen;}


line, heading, info, book, budget, caption, h1, h2, h3 {width: 50%; padding: 10px 20px 10px 20px;}
@media(max-width: 1000px){heading, info, book, budget{width: 70%;}}
@media(max-width: 800px){heading, info, book, budget{width: 80%;}}
@media(max-width: 600px){heading, info, book, budget{width: 90%;} img{width: 280px;}}

info{margin: 10px 0px 10px 0px;}
img{margin: 30px 0px 15px 0px;}


img-caption{margin: 20px 0px 200px 0px; font-size:14px;text-align: center; border: 1px solid red;}
h1{margin: 80px 0px 20px 0px; font-family: "Libertinus Serif Display", system-ui; font-style: normal; font-size: 40px; font-weight: bold;text-decoration: underline;}
h2{margin: 80px 0px 20px 0px; font-family: "Libertinus Serif Display", system-ui;font-style: normal;font-size: 30px; font-weight: bold;}
h3{margin: 150px 0px 20px 0px; font-family: "Libertinus Serif Display", system-ui;font-style: normal;font-size: 20px; font-weight: bold;}










