@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat {font-family: "Montserrat", sans-serif;font-optical-sizing: auto;font-weight: 400;font-style: normal;}
.libertinus-serif-display-regular {font-family: "Libertinus Serif Display", system-ui;font-weight: 400;font-style: normal;font-size: 100px;}


script, title {display: none;}
*{ padding: 0; margin: 0; font-family: "Montserrat", sans-serif; font-optical-sizing: auto; font-style: normal; display: block;}
body{border: 1px solid red; width: 100%; display: flex; flex-direction: column; align-items: center;}
main{width: 50%; display: flex; flex-direction: column; align-items: center;}
post-title{margin: 0px 0px 90px 0px; font-size: 50px;font-family: "Libertinus Serif Display", system-ui;font-weight: 400;font-style: normal; font-weight: bold;}
img{width: 500px; margin: 30px 0px 15px 0px;}
img-caption{margin: 20px 0px 60px 0px; font-size:14px;text-align: center;}
h1{margin: 70px 0px 20px 0px; font-family: "Libertinus Serif Display", system-ui; font-style: normal; font-size: 40px; font-weight: bold;text-decoration: underline;}
h2{margin: 70px 0px 10px 0px; font-family: "Libertinus Serif Display", system-ui;font-style: normal;font-size: 30px; font-weight: bold;}
h3{margin: 70px 0px 10px 0px; font-family: "Libertinus Serif Display", system-ui;font-style: normal;font-size: 20px; font-weight: bold;}
h4{margin: 50px 0px 0px 0px; font-size: 16px; font-weight: bold;}
p{line-height: 25px; font-size: 15px; margin: 0px;}
heading{margin: 30px 0px 0px 0px; font-weight: bold; display: flex; justify-content: space-between; align-items: center; border: 1px solid #dadada; }
details:hover{cursor: pointer;}
details{border: 1px solid #dadada;}
book{color: white; font-weight: bold; background-color: red;}
budget{background-color: yellowgreen;}
heading, details, post-title, h1, h2, h3, h4, p{padding: 20px 15px 20px 15px;}
heading, details, h1, h2, h3, h4, p {width: 90%;}
info, book, budget, a {width: 90%; margin: 10px 0px 10px 0px;}
@media(max-width: 1000px){main{width: 70%;} }
@media(max-width: 800px){main{width: 85%;} img{width: 500px;}}
@media(max-width: 600px){main{width: 75%;} details{font-size: 15px;} img{width: 400px;}}
@media(max-width: 500px){img{width: 300px;}}
@media(max-width: 400px){img{width: 280px;}}















