@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.libertinus-serif-display-regular {
  font-family: "Libertinus Serif Display", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 0px 160px 0px;
}

.post-img-div{margin: 60px 0px 60px 0px;}
.post-img{width: 100%; display: block;}
.post-img-caption{width: 100%; font-size:12px;text-align: center; margin: 20px 0px 0px 0px;}
@media(max-width: 600px){.post-img-div{width: 280px;}}

.post-title{font-size: 40px;font-family: "Libertinus Serif Display", system-ui;font-weight: 400;font-style: normal; font-weight: bold;}

@media(max-width: 600px){.post-title{font-size: 20px;}}
.post-updated{font-size: 12px; margin-top: 30px;}
.post-author{font-size: 12px; margin-bottom: 60px;}

.btn {width: 250px; margin: 60px 0px 0px 0px; border: none; border-radius: 5px; height: 50px; background-color: black; color: white; font-size: 17px; font-family: "Libertinus Serif Display", system-ui;font-weight: 400;font-style: normal; font-weight: bold;}
.btn:hover{cursor: pointer;}

h1{
    font-family: "Libertinus Serif Display", system-ui;font-style: normal;font-size: 40px; font-weight: bold;
    margin: 100px 0px 0px 0px; text-decoration: underline;
}
h2{
    font-family: "Libertinus Serif Display", system-ui;font-style: normal;font-size: 30px; font-weight: bold;
    margin: 100px 0px 0px 0px;
}
h3{
    font-family: "Libertinus Serif Display", system-ui;font-style: normal;font-size: 20px; font-weight: bold;
    margin: 200px 0px 30px 0px;
}

p{margin: 40px 0px 0px 0px; line-height: 30px;}

li{margin: 10px 0px 10px 0px;}

h1, h3, p, ul{width: 60%;}
@media(max-width: 1000px){h1, h3, p, ul{width: 70%;}}
@media(max-width: 800px){h1, h3, p, ul{width: 90%;}}

li{list-style: none; width: 100%;}

.bold{font-weight: bold; color: #908f8f;}

.jumpToTransportation{text-decoration: underline; color: red;}
.jumpToTransportation:hover{cursor: pointer;}

.list-p{
    margin:0;
    font-size: 14px;
}

.money-spent{
    background-color: yellow;
}
.book-it{
    background-color: red; color: white;
    margin-top: 10px;
}

.website{display: block;}




.black-bold{font-weight: bold;}
.gray-bold{font-weight: bold; color: #908f8f;}
.post-div{width: 60%;}

.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mt-60{margin-top: 60px;}








.activities-div{
    width: 100%;
    margin-top: 50px;
}


.inner-img-div{width: 100%; display: flex; justify-content: center; border: 1px solid;}
.inner-post-img{width: 60%; display: block;}
.excursion-ad, .whatItIs-ad, .times-ad, .website-ad, .phone-ad{
    width: 60%;
}
.whatItIs-ad, .contact-ad, .parking-ad, .hours-ad, .parking-ad, .times-ad, .tips-ad, .costs-ad{margin-top: 20px;}

.excursion-ad{font-weight: bold;}

.itinerary-item{
    width: 100%;
    border-top: 1px solid #9f9f9f;
    border-bottom: 1px solid #9f9f9f;
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: space-around;
    font-size: 14px;
}


.time, .activity-div, .distance, .cost{width: 15%; padding: 5px;}
.time, .activity-div, .activity, .address, .phone, .website, .distance, .cost{width: 60%; margin: 0px 0px 10px 0px;}
.time{font-weight: bold; width: 300px;}
.activity-div{width: 1000px;}
.distance {width: 300px;}
.cost{width: 100px;}


@media(max-width: 1000px){
    .itinerary-item{flex-direction: column; width: 100%;}
    .time, .activity-div, .activity, .address, .phone, .website, .distance, .cost{width: 100%;}
}




.page{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 120px 0px 120px 0px;
}

.card-container{
    display: grid; 
    gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media(max-width: 1200px){
    .card-container{display: flex; flex-direction:column;}
}




